<div class="container">
    <!--Inicio de historia do heroi-->
    <div class="details">
        <h1 class="container">Descrição do Heroi</h1>
        <br>
    
        <ul class="specs">
            <li>
                <span>Heroi: </span>
                <dl>
                    <dd ng-repeat="results in requestData">{{results.name}}</dd>
                </dl>
            </li>
            <li class="mr-1">
                <span>Descrição</span>
                <dl ng-repeat="results in requestData" ng-if="!results.description">
                    <p>Não há descrição do Heroi</p>
                </dl>
                <dl ng-repeat="results in requestData" ng-if="results.description">
                    <dd>{{results.description}}</dd>
                </dl>
            </li>
            <li ng-repeat="results in requestData">
                <img id="i1" class="card-img-top img-thumbnail" src="{{results.thumbnail.path}}/portrait_xlarge.jpg" alt="Card image cap">
            </li>
        </ul>
        <ul class="specs">
            <li>
                <span>História</span>
                <dl ng-repeat="results in requestData">
                    <dd>{{results.series.returned}} historia(s)</dd>
                </dl>
            </li>
        </ul>
        <ul>
            <a href="#" class="btn btn-primary">
                Voltar
            </a>
        </ul>
    </div>
    <!--Fim de historia do heroi-->
</div>